@using YallaKora.Web.VM
@model TeamsTableVM

<div>

    <br />
    <div class="col-lg-12" id="tableContainer">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Team Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Foundation Date
                    </th>
                    <th>
                        WebSite URL
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Teams != null && Model.Teams.Count > 0)
                {
                    foreach (var team in Model.Teams)
                    {
                        <tr>
                            <td>
                                @team.TeamName
                            </td>
                            <td>
                                @team.Description
                            </td>
                            <td>
                                @team.FoundationDate
                            </td>
                            <td>
                                @team.WebSiteURL
                            </td>
                            <td>
                                <button type="button" class="editbtn btn btn-primary" data-ID="@team.TeamId" data-toggle="modal" data-target="#FormModal">Edit</button>
                                <button type="button" class="deletebtn btn btn-danger" data-ID="@team.TeamId" data-toggle="modal" data-target="#deleteModal">Delete</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center" colspan="7">
                            No Results Found..
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.Pager != null & Model.Pager.TotalPages > 0)
        {
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (Model.Pager.CurrentPage == Model.Pager.StartPage)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" data-ID="#">Previous</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index","Teams" ,new {TourId = Model.Search.Id ,PageNum = Model.Pager.CurrentPage -1 })">Previous</a>
                        </li>
                    }
                    @for (int Page = Model.Pager.StartPage; Page < Model.Pager.EndPage + 1; Page++)
                    {
                        var active = Page == Model.Pager.CurrentPage ? "active" : string.Empty;
                        <li class="page-item @active"><a class="page-link" href="@Url.Action("Index","Teams" ,new { TourId = Model.Search.Id , PageNum = Page })">@Page</a></li>
                    }
                    @if (Model.Pager.CurrentPage == Model.Pager.EndPage)
                    {
                        <li class="page-item disabled"><a class="page-link">Next</a></li>

                    }
                    else
                    {
                        <li class="page-item"><a href="@Url.Action("Index","Teams" ,new { TourId = Model.Search.Id , PageNum = Model.Pager.CurrentPage +1 })" class="page-link">Next</a></li>
                    }
                </ul>
            </nav>
        }
    </div>
</div>
<script>
    $(".SearchTeam").click(function () {
        debugger;
        $.ajax({
            type: "Get",
            url: "@Url.Action("Index","Teams")",
            data: {
                Search: $("#SearchBox").val(),
                TourId: $("#TournamentId option:selected").attr("data-ID"),
                PageNum: document.getElementsByClassName("page-item active")[0].firstChild.innerHTML
            }
        }).done(function (response) {
            $("#tableContainer").html(response);
        }).fail(function (XMLHttpRequest, testStatus, erorrThrown) {
            alert("FAIL");
        });
    });
    $("#ResetBtn").click(function () {
        debugger;
        $.ajax({
            type: "Get",
            url: "@Url.Action("Index","Teams")"
        }).done(function (response) {
            $("#tableContainer").html(response);
        }).fail(function (XMLHttpRequest, testStatus, erorrThrown) {
            alert("FAIL");
        });
    });
    $(".editbtn").click(function () {
        debugger;
        $.ajax({
            type: "Get",
            url: "@Url.Action("EditTeam", "Teams")",
            data: {
                Id: $(this).attr('data-ID')
            }
        }).done(function (response) {
            debugger;
            $("#actionContainer").html(response);
            //$("#FormModal").modal('toggle');
        }).fail(function (XMLHttpRequest, testStatus, erorrThrown) {
            alert("FAIL");
        })
    });
    $('.deletebtn').click(function () {
        $("#deleteModal").modal('toggle');
        $('#mDeletebtn').attr("data-recordID", $(this).attr('data-ID'));
    })
</script>

